<html>

<head>
  <meta charset="UTF-8" />
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .header {
      background-color: #C00000;
      color: #ffffff;
      padding: 10px 20px;
      text-align: center;
    }

    .content {
      margin: 20px;
    }

    .content p {
      line-height: 1.6;
    }

    .footer {
      background-color: #ffffff;
      padding: 10px 20px;
      text-align: center;
      font-size: 12px;
      color: #777;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 20px 0;
      font-size: 16px;
      color: #ffffff;
      background-color: #C00000;
      text-decoration: none;
      border-radius: 5px;
    }


    .otp {
      font-size: 24px;
      font-weight: bold;
      color: #f85e00;
      text-align: left;
      margin: 20px 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Your OTP</h1>
    </div>
    <div class="content">
      <p>Hi [Name],</p>
      <p>To complete your process, please use the following One-Time Password (OTP):</p>
      <h2 class="otp">[otpCode]</h2>
      <p>If you did not request this, please Ignore this email.</p>
      <p>Thanks,</p>
      <p>From <strong>[appName]</strong></p>
    </div>
    <div class="footer">
      <p>&copy; 2024 [appName]. All rights reserved.</p>
    </div>
  </div>
</body>

</html>